@import 'shared/styles/common/index.scss';

.note {
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #EFEFEF;
  }

  &_active {
    border-left: solid $red 5px
  }
  &__title {
    margin-bottom: 0.4rem;
    color: #333333;
    text-transform: capitalize;
  }

  &__body {
    color: #A0A0A0;
    overflow: hidden;
    word-wrap: none;
  }
}

