.note {

  cursor: pointer;

  &:hover {
    background-color: #EFEFEF;
  }
  &__title {
    margin-bottom: 0.4rem;
    color: #333333;
    text-transform: capitalize;
  }

  &__body {
    color: #A0A0A0;
  }
}

